docs/*
.env
.venv/
node_modules/
__pycache__/
*.pyc
.vscode/
deploy/terraform/terraform.tfvars
deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.backup
deploy/terraform/.terraform.lock.hcl
