[Unit]
Description=Daily timer for Woodpecker PostgreSQL backup

[Timer]
OnCalendar=*-*-* 02:00:00
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
